<!-- Clients -->
  <section class="py-5" id="{{ site.data.sitetext.clients.section | default: "clients" }}">
    <div class="container">
<!--      <div class="row" {% if site.data.sitetext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>-->
<!--	  {% for client in site.data.sitetext.clients.list %}-->
<!--        <div class="col-md-3 col-sm-6">-->
<!--          <a href="{{ client.url }}">-->
<!--            <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}" style="max-height: {{ site.data.sitetext.clients.max-height | default: "100px" }}">-->
<!--          </a>-->
<!--        </div>-->
<!--	  {% endfor %}-->
<!--      </div>-->

        <div class="row" id="scrolling-clients" >
            <div class="col-lg-12">
                현재 IT회사의 모바일 플랫폼을 개발하는 팀에서 iOS 개발자로 근무하고 있습니다. 주로 기업 내에서 임직워들이 사용하는 애플리케이션 개발을 담당하고 있으며, 주 업무는 iOS 개발이지만 웹 페이지와 서버 개발 프로젝트에도 다수 참여한 경험이 있습니다. <br>
                지금의 제 모습은 스스로 선택하고 동의한 것들의 결과입니다. 결과를 헛되이 하지 않는 자신이 될 수 있도록 끊임없이 노력하는 개발자가 될 것 입니다.
            </div>
        </div>

    </div>
  </section>
